.PokemonCard {
  margin: 12px;
  width: 13rem;
  transition: all 400ms ease;
  min-height: 150px;
}
.PokemonCard:hover {
  box-shadow: 20px 20px 20px rgb(0, 0, 0, 0, 4);
  transform: translateY(-3%);
}
.carddd {
  background: radial-gradient(circle at 50% 0%, rgba(0, 145, 255, 0.738) 36%, rgba(255, 255, 255, 0.152) 36%);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  width: 100%;
  padding: 30px 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
.img {
  display: block;
  width: 140px;
  height: 140px;
  max-height: 200px;
  position: relative;
  margin: 5px auto;
}
.name {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

.conteinerr {
  border: 1px;
  display: inline-block;
  width: 4rem;
  margin: 5px 5px;
  text-align: center;
}

.normal {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  background: linear-gradient(180deg, #42424297 50%, #42424297 50%);
}
.fighting {
  text-align: center;
  font-size: 15px;

  font-weight: 500;
  border-radius: 10px;
  background: rgb(253, 225, 45);
  background: linear-gradient(
    0deg,
    rgba(253, 225, 45, 0.9204014369419643) 0%,
    rgba(213, 69, 35, 1) 72%
  );
}
.flying {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 0.8727823893229166) 0%,
    rgba(45, 113, 253, 0.9540148823201156) 100%
  );
}
.poison {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  background: linear-gradient(180deg, #a80ed3 50%, #a80ed3 50%);
}
.ground {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  background: rgb(126, 108, 5);
  background: linear-gradient(
    0deg,
    rgba(126, 108, 5, 0.9007935938047094) 36%,
    rgba(221, 189, 5, 1) 97%
  );
}
.rock {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  background: linear-gradient(180deg, #6b5b01 50%, #6b5b01 50%);
}
.bug {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  background: linear-gradient(180deg, #43720d 50%, #43720d 50%);
}
.ghost {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
}
.steel {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
}
.fire {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
}
.water {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
}
.grass {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  background: linear-gradient(180deg, #77b449 50%, #77b449 50%);
}
.electric {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
}
.psychic {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  background: linear-gradient(180deg, #e40788 50%, #e40788 50%);
}
.ice {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
}
.dragon {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}
.dark {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  background: linear-gradient(180deg, #302d2d 50%, #302d2d 50%);
}
.fairy {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgb(255, 187, 235) 50%,
    rgb(255, 187, 235) 50%
  );
}
.shadow {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
}
